/* Base styles for desktop */
.container {
  display: flex;
  height: 100vh;
  padding: 4rem; /* Adequate padding for desktop */
  flex-direction: row; /* Layout is row-based for desktop */
}

.leftSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  padding: 4rem;
}

.heading {
  font-size: 7.5rem; /* Large font size for desktop */
  font-weight: 500;
  border-right: 2px solid #ccc; /* Visual caret */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflow text */
  width: 0; /* Initially set the width to 0 for the typing effect */
  transition: 1s all ease;
  margin-right: auto;
  animation: typing 1s steps(5, end) forwards,
    blink-caret 0.55s step-end infinite;
}

.textSection {
  font-size: 1.8rem; /* Large font size for desktop */
  font-weight: 100;
  gap: 0;
}

.text {
  font-weight: 200;
  font-size: 2rem;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-width: 375px; /* Wider form for desktop */
  border: 2px solid #4c4c4c;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 8px;
  
  background: linear-gradient(120deg, #000, #000000, #262626, #000);
  background-size: 100% auto;
  animation: shinyEffect 25s linear infinite;
  height: 596px;
}

.formTitle {
  font-size: 4rem;
  margin: 0;
}

.formText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}

.formSubText {
  font-size: 1.2rem;
  margin-top: 0;
}

.input {
  padding: 1.3rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.3rem; /* Readable font size for desktop */
  color: #cccccc;
  background: #000;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  padding: 5px 0;
}

.checkbox input {
  margin-right: 0.5rem;
}

.button {
  padding: 1rem 2rem;
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.6rem; /* Readable font size for desktop */
  font-weight: 500;
  transition: 0.3s all ease-in-out;
}

.button:hover {
  background-image: linear-gradient(to right, #6400df, #1d64d9);
}

.forgotPassword {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #007bff;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
}

.orSeparator {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  margin: 1rem 0;
  color: #646464;
}

.orSeparator::before,
.orSeparator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #302f2f;
}

.orSeparator:not(:empty)::before {
  margin-right: 0.5em;
}

.orSeparator:not(:empty)::after {
  margin-left: 0.5em;
}

.socialLogin {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1.5rem;
}

.socialButton {
  flex: 1;
  padding: 0.75rem;
  margin: 0 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem; /* Readable font size for desktop */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  text-align: center;
}

.footerText {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.footerText:hover{
  color: #c7c7c7;
}



.footerLinks {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  color: #ccc;
  padding-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.footerLinks span {
  margin: 0 0.5rem;
}

/* Keyframes for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 5.5ch;
  }
}

/* Keyframes for blinking caret */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ccc;
  }
}

/* Shiny effect keyframes */
@keyframes shinyEffect {
  0% {
    background-position: -150%;
  }
  50% {
    background-position: 150%;
  }
  100% {
    background-position: -150%;
  }
}

/* Media queries for responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Stack the sides on smaller screens */
    padding: 2rem;
  }

  .leftSide,
  .rightSide {
    padding: 2rem; /* Reduced padding for smaller screens */
  }

  .heading {
    font-size: 4.5rem; /* Adjusted font size for smaller screens */
  }

  .textSection {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .text {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .formTitle {
    font-size: 3rem; /* Adjusted font size for smaller screens */
  }

  .form {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .input {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .button {
    font-size: 1.4rem; /* Adjusted font size for smaller screens */
  }

  .orSeparator {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .footerLinks {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem; /* Smaller font size for mobile screens */
  }

  .textSection {
    font-size: 1.25rem; /* Smaller font size for mobile screens */
  }

  .text {
    font-size: 1.25rem; /* Smaller font size for mobile screens */
  }

  .formTitle {
    font-size: 2.5rem; /* Adjusted font size for smaller screens */
  }

  .form {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .input {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .button {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }

  .orSeparator {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .footerLinks {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }
}
