/* Base styles for desktop */
.container {
  display: flex;
  height: 100vh;
  padding: 4rem; /* Adequate padding for desktop */
  flex-direction: row; /* Layout is row-based for desktop */
}

.leftSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  padding: 4rem;
}

.heading {
  font-size: 7.5rem; /* Large font size for desktop */
  font-weight: 500;
  border-right: 2px solid #ccc; /* Visual caret */
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide the overflow text */
  width: 0; /* Initially set the width to 0 for the typing effect */
  transition: 1s all ease;
  margin-right: auto;
  animation: typing 1s steps(5, end) forwards,
    blink-caret 0.55s step-end infinite;
}

.textSection {
  font-size: 1.8rem; /* Large font size for desktop */
  font-weight: 100;
  gap: 0;
}

.text {
  font-weight: 200;
  font-size: 2rem;
}

.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}



/* Keyframes for typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 5.5ch;
  }
}

/* Keyframes for blinking caret */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ccc;
  }
}



/* Media queries for responsive adjustments */
@media (max-width: 1024px) {
  .container {
    flex-direction: column; /* Stack the sides on smaller screens */
    padding: 2rem;
  }

  .leftSide,
  .rightSide {
    padding: 2rem; /* Reduced padding for smaller screens */
  }

  .heading {
    font-size: 4.5rem; /* Adjusted font size for smaller screens */
  }

  .textSection {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .text {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .formTitle {
    font-size: 3rem; /* Adjusted font size for smaller screens */
  }

  .form {
    padding: 2rem; /* Adjust padding for smaller screens */
  }

  .input {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .button {
    font-size: 1.4rem; /* Adjusted font size for smaller screens */
  }

  .orSeparator {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  .footerLinks {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem; /* Smaller font size for mobile screens */
  }

  .textSection {
    font-size: 1.25rem; /* Smaller font size for mobile screens */
  }

  .text {
    font-size: 1.25rem; /* Smaller font size for mobile screens */
  }

  .formTitle {
    font-size: 2.5rem; /* Adjusted font size for smaller screens */
  }

  .form {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .input {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .button {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }

  .orSeparator {
    font-size: 1rem; /* Adjusted font size for smaller screens */
  }

  .footerLinks {
    font-size: 1.2rem; /* Adjusted font size for smaller screens */
  }
}
